<%- include('header') %>

<!-- ----------carousel--------------------------------------- -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="topbanner1" src="image/womenpage/topbanner1.jpg" alt="topbanner">
       

    </div>
    <div class="carousel-item">
      <img class="topabanner" src="image/womenpage/topbanner.jpg" alt="Second slide">
    </div>
   
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
        <br>
        <br>
        <br>
        <br>



    <!-- -------------------------rowwwwwwwwwww--------------------------- -->
        <div class="container">
            <div class="row">
              
              <div class="col-3">
                <div class="card" style="width: 15rem;">
                  <a href="women/w15">
                  <img src="image/womenpage/w5/1.jpg" class="card-img-top" alt="..."></a>
                  <div class="card-body">
                    
                    <p class="card-text">Floral Print Crepe Blend Stitched Gown  </p>
                    <div class="price-box">
          
                      <p class="sale">
                        <span class="old-price"> Rs.  1,699 </span>
                        <span class="special-price">Rs.  999 </span>
                        <span class="price-percentage">( -41% )</span>
                      </p>
                      
                    </div>
  
                    <a href="cart/w/w15" class="btn btn-outline-primary"">Add to cart</a>
                  </div>
                </div>
              </div>
              
              <div class="col-3">
                <div class="card" style="width: 15rem;">
                  <a href="women/w16">
                  <img src="image/womenpage/w6/1.jpg" class="card-img-top" alt="..."></a>
                  <div class="card-body">
                    
                    <p class="card-text">Black lofer pajama</p>
                    <div class="price-box">
          
                      <p class="sale">
                        <span class="old-price"> Rs.  1,699 </span>
                        <span class="special-price">Rs.  999 </span>
                        <span class="price-percentage">( -41% )</span>
                      </p>
                      
                    </div>
  
                    <a href="cart/w/w16" class="btn btn-outline-primary"">Add to cart</a>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="card" style="width: 15rem;">
                  <a href="women/w17">
                  <img src="image/womenpage/w7/1.jpg" class="card-img-top" alt="..."></a>
                  <div class="card-body">
                    
                    <p class="card-text">Teal Deep Back Flared Maxi Dress</p>
                    <div class="price-box">
          
                      <p class="sale">
                        <span class="old-price"> Rs.  1,699 </span>
                        <span class="special-price">Rs.  999 </span>
                        <span class="price-percentage">( -41% )</span>
                      </p>
                      
                    </div>
                    <a href="cart/w/w17" class="btn btn-outline-primary"">Add to cart</a>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="card" style="width: 15rem;">
                  <a href="women/w18">
                  <img src="image/womenpage/w8/1.jpg" class="card-img-top" alt="..."></a>
                  <div class="card-body">
                    
                    <p class="card-text">Blue Tie Dye  Tier Midi Dress</p>
                    <div class="price-box">
          
                      <p class="sale">
                        <span class="old-price"> Rs.  1,699 </span>
                        <span class="special-price">Rs.  999 </span>
                        <span class="price-percentage">( -41% )</span>
                      </p>
                      
                    </div>
                    <a href="cart/w/w18" class="btn btn-outline-primary"">Add to cart</a>
                  </div>
                </div>
              </div>
              <br>
        <br>
        <br>
        <br>
        <br>
              <!-- trytryrtrytryrtr -->
              <div class="col-3">
                <div class="card" style="width: 15rem;">
                  <a href="women/w19">
                  <img src="image/womenpage/w9/1.jpg" class="card-img-top" alt="..."></a>
                  <div class="card-body">
                    
                    <p class="card-text">Blush Pink Terry Track Pants</p>
                    <div class="price-box">
          
                      <p class="sale">
                        <span class="old-price"> Rs.  1,699 </span>
                        <span class="special-price">Rs.  999 </span>
                        <span class="price-percentage">( -41% )</span>
                      </p>
                      
                    </div>
                    <a href="cart/w/w19" class="btn btn-outline-primary"">Add to cart</a>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="card" style="width: 15rem;">
                  <a href="women/w20">
                  <img src="image/womenpage/w10/1.jpg" class="card-img-top" alt="..."></a>
                  <div class="card-body">
                    
                    <p class="card-text">White Button Down Midi Dress</p>
                    <div class="price-box">
          
                      <p class="sale">
                        <span class="old-price"> Rs.  1,699 </span>
                        <span class="special-price">Rs.  999 </span>
                        <span class="price-percentage">( -41% )</span>
                      </p>
                      
                    </div>
                    <a href="cart/w/w20" class="btn btn-outline-primary"">Add to cart</a>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="card" style="width: 15rem;">
                  <a href="women/w21">
                  <img src="image/womenpage/w11/1.jpg" class="card-img-top" alt="..."></a>
                  <div class="card-body">
                    
                    <p class="card-text">pink Polka Smocked Detailed Midi Dress</p>
                    <div class="price-box">
          
                      <p class="sale">
                        <span class="old-price"> Rs.  1,699 </span>
                        <span class="special-price">Rs.  999 </span>
                        <span class="price-percentage">( -41% )</span>
                      </p>
                      
                    </div>
                    <a href="cart/w/w21" class="btn btn-outline-primary"">Add to cart</a>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="card" style="width: 15rem;">
                  <a href="women/w22">
                  <img src="image/womenpage/w12/1.jpg" class="card-img-top" alt="..."></a>
                  <div class="card-body">
                    
                    <p class="card-text">Trendy is the last stage before tacky</p>
                    <div class="price-box">
          
                      <p class="sale">
                        <span class="old-price"> Rs.  1,699 </span>
                        <span class="special-price">Rs.  999 </span>
                        <span class="price-percentage">( -41% )</span>
                      </p>
                      
                    </div>
                    <a href="cart/w/w22" class="btn btn-outline-primary"">Add to cart</a>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="card" style="width: 15rem;">
                  <a href="women/w23">
                  <img src="image/womenpage/w13/1.jpg" class="card-img-top" alt="..."></a>
                  <div class="card-body">
                    
                    <p class="card-text">People will stare. Make it worth their while</p>
                    <div class="price-box">
          
                      <p class="sale">
                        <span class="old-price"> Rs.  1,699 </span>
                        <span class="special-price">Rs.  999 </span>
                        <span class="price-percentage">( -41% )</span>
                      </p>
                      
                    </div>
                    <a href="cart/w/w23" class="btn btn-outline-primary"">Add to cart</a>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="card" style="width: 15rem;">
                  <a href="women/w24">
                  <img src="image/womenpage/w14/1.jpg" class="card-img-top" alt="..."></a>
                  <div class="card-body">
                    
                    <p class="card-text">Elegance is elimination.</p>
                    <div class="price-box">
          
                      <p class="sale">
                        <span class="old-price"> Rs.  1,699 </span>
                        <span class="special-price">Rs.  999 </span>
                        <span class="price-percentage">( -41% )</span>
                      </p>
                      
                    </div>
                    <a href="cart/w/w24" class="btn btn-outline-primary"">Add to cart</a>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="card" style="width: 15rem;">
                  <a href="women/w25">
                  <img src="image/womenpage/w15/1.jpg" class="card-img-top" alt="..."></a>
                  <div class="card-body">
                    
                    <p class="card-text">When in doubt, wear red</p>
                    <div class="price-box">
          
                      <p class="sale">
                        <span class="old-price"> Rs.  1,699 </span>
                        <span class="special-price">Rs.  999 </span>
                        <span class="price-percentage">( -41% )</span>
                      </p>
                      
                    </div>
                    <a href="cart/w/w25" class="btn btn-outline-primary"">Add to cart</a>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="card" style="width: 15rem;">
                  <a href="women/w11">
                  <img src="image/womenpage/w1/1.jpg" class="card-img-top" alt="..."></a>
                  <div class="card-body">
                    
                    <p class="card-text">Fashions fade, style is eternal</p>
                    <div class="price-box">
          
                      <p class="sale">
                        <span class="old-price"> Rs.  1,699 </span>
                        <span class="special-price">Rs.  999 </span>
                        <span class="price-percentage">( -41% )</span>
                      </p>
                      
                    </div>
                    <a href="cart/w/w11" class="btn btn-outline-primary"">Add to cart</a>
                  </div>
                </div>
              </div>


    </div>
  </div>

<%- include('footer') %>